html {
	scroll-behavior: smooth;
	scrollbar-width: none;
}

body {
	background-color: var(--background);
	color: var(--text-primary);

	a {
		color: var(--text-secondary);
		text-decoration: none;
		transition: color var(--transition-fast);

		&:hover {
			color: var(--text-primary);
		}
	}
}
